@font-face {
  font-family: "iconfont"; /* Project id 2844599 */
  src: url('iconfont.woff2?t=1632921608961') format('woff2'),
       url('iconfont.woff?t=1632921608961') format('woff'),
       url('iconfont.ttf?t=1632921608961') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huabanfuben:before {
  content: "\e696";
}

.icon-wangyiyunyinle:before {
  content: "\eb25";
}

.icon-GitHub1:before {
  content: "\e600";
}

.icon-bilibili-copy:before {
  content: "\e601";
}

